@font-face {
    font-family: 'Noto Sans Tifinagh WF';
    src: url('/shared/webfonts/notoseriftifinagh-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notoseriftifinagh-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=ber] { font-family: 'Noto Sans Tifinagh WF', Tagmukay, serif; }


#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 14px;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}


#kbd { display: none; }
/*
#kbd { 	
	margin: auto; 
	margin-bottom: 2em;
    display: none;
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}
#kbd td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}
#kbd #vowels { 
	width: 80px; 
	text-align: right; 
	padding-right: 4px; 
	vertical-align: middle; 
	line-height: 1.4;
	}
*/ 
    
    
/* KEYBOARD */
.key span { 
	font-size: 24px; 
	color: gray; 
	font-weight: normal; 
	font-family:  "Hapax Berbère", "Noto Sans Tifinagh WF",  sans-serif;  
	cursor:pointer; 
	text-align: center; 
	line-height: 1;
	}
.key .s { position:absolute; bottom: 5px; left: 15px; }
.key .n { position:absolute; bottom: 5px; right: 5px;  }

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
 margin: auto;
	line-height: 1.4;
    width: 31em;
    }
#consonantGrid, #consonantGridAlpha {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 24em;
    justify-content: space-evenly;
    }
#consonantGrid > span, , #consonantGridAlpha > span {
    min-width: 2.15em;
    }
#vowelGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 3em;
    justify-content: space-evenly;
    margin-left: 3em;
    line-height: 1.3;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 2em;
    }
