@font-face {
    font-family: 'Arian AMU WF';
    src: url('../../shared/webfonts/arnamu-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/arnamu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang=ber] { font-family: 'Noto Sans Tifinagh WF', Tagmukay, serif; }


#alphabet { 
	display: block; 
	color: #666;
	}

.g {
    margin: 0 .05em;
	}
span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	color: burlywood;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Arian Amu WF", "Noto serif Armenian",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ligatureGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 2.5em;
    max-height: 15em;
    justify-content: space-between;
    margin-right: 1.5em;
    line-height: 1.3;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 11em;
    justify-content: space-around;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 15em;
    max-width: 5em;
    justify-content: start;
    margin-left: 1.5em;
    line-height: 1.3;
	}
#vowelGrid div {
    white-space: nowrap;
    justify-content: end;
    display: flex;
	}
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2.42em;
    max-height: 15em;
    justify-content: center;
    margin-left: 1.2em;
    line-height: 1.3;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 50%;
    }
#obsolete {
    text-align: center;
    }








