@font-face {
    font-family: 'Mandaic WF';
    src: url('/shared/webfonts/notosansmandaic-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansmandaic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#alphabet { display: block; }
#phonelist { display: none; }
#fontgrid { display: none; }


[lang=mid] { font-family: 'Noto Sans Mandaic', 'Mandaic WF', serif; }




#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	color: tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}
    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Mandaic', 'Mandaic WF',  sans-serif;  
    line-height: 1.2;
	}

#keyboard { display: none; }



/* SELECTION AREA */



#kbdGrid {
    display: flex;
    flex-direction: row;
    line-height: 1.2;
    justify-content: center;
    margin-top: .75em;
    }
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 8em;
    justify-content: space-between;
    line-height: 1.7;
    }
#consonantGrid > span {
    min-width: 1.5em;
    }
/*#vowelGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1.2em;
    max-height: 15em;
    justify-content: center;
    align-items:center;
    margin: 0 .5em;
    line-height: 1.3;
    border: 1px dotted #ccc;
    border-radius: .25em;
    padding: 0 .5em;
    }*/
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin-left: 1em;
    }
#vowelGrid div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
    }
/*#punctuationGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 1.2em;
    max-height: 15em;
    justify-content: center;
    align-items:center;
    margin-end: 0 .5em;
    line-height: 2;
    padding: 0 .5em;
    }*/
#punctuationGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin-left: 1em;
    }
#punctuationGrid div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
    }
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2.42em;
    max-height: 15em;
    justify-content: center;
    margin: 0 .5em;
    line-height: 1.7;
    align-content: center;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    }





#kbd { 	
	margin: auto;
    line-height: 1.5;
	}
table {
	margin: auto;
	}
td {
	padding: 0;
	}

#vowels {
	border: 1px dotted #ccc;
	border-radius: 5px; 
	vertical-align: middle;
    width: 2em;
	}

#numbers {
	border: 1px dotted #ccc;
	border-radius: 5px; 
	vertical-align: middle;
	line-height: 1.4;
	}

#punctuation {
	padding-left: 15px;
	padding-right: 10px;
	vertical-align: middle;
	line-height: 2.4;
	}
	
#consonants {
	margin: auto;
	}
