@font-face {
    font-family: 'Vimala WF';
    src: local('Vimala'),
        url('../../shared/webfonts/Vimala.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Aksara Bali WF';
    src: url('/shared/webfonts/AksaraBaliwebfont.woff2') format('woff2'),
         url('/shared/webfonts/AksaraBaliwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Serif Balinese WF';
    src: url('/shared/webfonts/notoserifbalinese-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notoserifbalinese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Balinese WF';
    src: url('/shared/webfonts/notosansbalinese-regularwebfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansbalinese-regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=ban] { font-family: "Vimala", 'Aksara Bali WF', 'Noto Serif Balinese WF', serif; }



span.hint { 
    margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}

.c { 
	min-width: .75em;
	text-align: center;
	color: #666;
	}
.g {
	margin: 0 .1em;
	}
.x {
	display: none;
	}
.k .c {
    color: brown;
    }    
.x .c {
	color: chocolate;
	}
    
/* KEYBOARD */
.key span { 
	font-size: 1.1em; 
	font-weight: normal; 
	font-family:  'Noto Serif Balinese WF',  sans-serif;  
    line-height: 1.2;
	}

#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    align-content: flex-start;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	margin-right: 1em;
	line-height: 1.6;
    }
#ivowelGrid div {
	display: flex;
    flex-wrap: nowrap;
	justify-content: space-around;
    }
#ivowelGrid .verticalAlign {
	justify-content: flex-end;
	}
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelbase {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-left: 1em;
	padding: .5em .25em;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#moreconsonants {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:flex-start;
    text-align: end;
    margin-inline-start: 1em;
    }
#tones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .5em;
    }
#tones div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
	line-height: 2;
    }

#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#rare {
    text-align: center;
    font-size: 90%;
    }





.uaplosives { white-space: nowrap; }
.aspiratedplosives { white-space: nowrap; }
.vowels{ padding: 5px; margin-bottom: 5px; width: 750px; border: 1px dotted teal; }



