/samaritan/
/_tools/old/
/_devt/
*.DS_Store
/egyptian copy/
/scratchpad/
/v23/
/newtailue copy/
*.webloc
/arabic copy/
/thai copy/
/arab-urold/
/mong-mn copy/
/shared28-NOT USED/
/syrc-aii copy/
/mend copy/
/sinh copy/
/syrc copy/
/jpanOLD/
/_template_ltr copy/
/shared27/
