@font-face {
    font-family: 'Wolof Garay WF';
    src: url('../../shared/webfonts/wolofgaraysansserif-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+10D40-10D8F;
	}


[lang=wo] { font-family: 'Wolof Garay WF', serif; }



span.hint { 
	margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}
span.x { 
	color: chocolate;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Wolof Garay WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }




/* SELECTION AREA */

#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#kbdGrid .hidden {
	display: none;
	}

#consonantGrid, #UC#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div, #UCconsonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span, #UCconsonantGrid > span {
    min-width: 1em;
    }
#toneGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-inline-start: 1em;
    }
#toneGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#vowelGrid, #UCvowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-inline-start: 1em;
    }
#vowelGrid > div, #UCvowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 5em;
    max-height: 8em;
    justify-content: space-between;
    margin-left: 2em;
    line-height: 1.8;
    font-size: 90%;
    }

#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }

#obsolete {
    text-align: center;
    font-size: 90%;
    }
