@font-face {
    font-family: 'Chakma Unicode WF';
    src: url('../../shared/webfonts/chakma_unicode-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Chakma WF';
    src: url('../../shared/webfonts/notosanschakma-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=ccp] { font-family: 'Chakma Unicode WF', serif; }



/* SELECTION AREA */

#kbdGrid {
	line-height: 1.2;
    }



    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Chakma Unicode WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }






