@font-face {
    font-family: 'Noto Serif Sinhala WF';
    src: url('../../shared/webfonts/notoserifsinhala-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifsinhala-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#alphabet { display: block; }
#phonelist { display: none; }

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Noto Serif Sinhala WF", "Noto Serif Sinhala", "Sinhala MN", "Iskoola Pota",  serif;  
    line-height: 1;
	}

#keyboard { display: none; }




#alphabet td span.c { 
	cursor: pointer; 
	font-family: 'Noto Serif Sinhala WF', "Noto Serif Sinhala", "Sinhala MN", "Iskoola Pota", serif;
	font-size: 1em;
	padding: 1px;
	min-width: 18px;
	}
span.hint { 
	margin-right: 1px;
    margin-left: 2px;
    margin: 0;
	font-size: 50%;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}

/*#alphabet td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}
*/	
#kbd { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
	
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.2;
	}
#kbd #consonants {
	margin-left: 20px; 
	}

#kbd #vowels {
	margin-left: 20px;
	border: 1px dotted #ccc;
	border-radius: 5px; 
	}
	
#kbd #ligatures td {
	line-height: 1.35;
	}
#kbd #ligatures {
	border: 1px dotted #ccc;
	border-radius: 5px; 
	}
#kbd #numbers table {
	margin:auto;
	}


#alphabet #punctuation {
	margin:auto;
	}
#alphabet #punctuation td span.c {
	padding: 5px;
	}


#toggleRare {
	font-size: 12px;
	font-family: 'helvetica neue', roboto, calibri, helvetica, sans-serif;
	}




#alphabet summary {
    font-size: 14px;
    }


