@font-face {
    font-family: 'NotoSerifDevanagari WF';
    src: url('../../shared/webfonts/notoserifdevanagari-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=hi] { font-family: 'NotoSerifDevanagari WF', serif; }




/* SELECTION AREA */
#kbdGrid {
	line-height: 1.2;
    }


    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Serif Devanagari WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }


