@font-face {
    font-family: 'Noto Sans Mandaic WF';
    src: url('/shared/webfonts/notosansmandaic-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansmandaic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#alphabet { display: block; }
#phonelist { display: none; }
#fontgrid { display: none; }


[lang=mid] { font-family: 'Noto Sans Mandaic WF', serif; }





span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}
    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Mandaic WF',  sans-serif;  
    line-height: 1.2;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#controlchars {
    text-align: center;
    margin-bottom: .25em;
    line-height: 1;
    }
.spaceline {
    margin-bottom: 0;
    }

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.4;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 .5em;
    flex-wrap: nowrap;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }
#diacriticGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
#diacriticGrid div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
#numberGrid {
    height: 4em;
    margin: 0 .5em;
	padding-bottom: 1em;
    }
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 2.5em;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 90%;
    }
#punctuation {
    text-align: center;
    font-size: 70%;
    line-height: 1;
	margin: .5em 0 .5em 0;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 0;
    }

#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    width: 20em;
    margin: auto;
    }

#cursive {
    width: 5em;
    display: inline-block;
	color: tan;
    }

#translit {
    margin: auto;
    
}
