@font-face {
    font-family: 'Doulos SIL WF';
    src: url('/shared/webfonts/DoulosSIL-Rwebfont.woff2') format('woff2'),
         url('/shared/webfonts/DoulosSIL-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=en-fonipa] { font-family: 'Doulos SIL WF', serif; }


#kbd { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}
#kbd td.hint {  
	font-size: 12px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	color: tan;
	}
#kbd img {
	vertical-align: top;
	}




#consonants { padding-bottom: 10px;   padding-top: 8px; border-radius: 8px;  }
#consonants td {  padding: 0;  white-space: nowrap; height: 30px; line-height: 1.4;}
#consonants span { padding: 0 3px; }
#kbd #vowels { padding-bottom: 0.3em; }
#vowels { margin-left: 20px; background: url(vowelgrid.gif) top left no-repeat; white-space: nowrap; border-radius: 8px;  }
#vowels td { padding: 0px; margin: 0; border: 0; text-align: center; vertical-align: top;   padding-bottom: 10px; }
#vowels img { padding: 0px; margin: 0; }
#vowels div { height: 38px; }
#vowels span { background-color: white; padding: 2px; }
#bottomphones td { padding: 0; margin: 0; }
#bottomphones  { margin:auto; margin-bottom: 10px;   line-height: 1.6;}
/*#bottomphones .bottomrighttop span { padding: 0 3px; } */
#other2 {  }
#other2 img { padding: 0; margin: 0; }
#tones {
	line-height: 1;	padding-left: 5px;
	}
#tones td { padding-left: 5px; padding-bottom: 0; }


.c { min-width:.6em; text-align: center; }

#moreTones {
    text-align: center;
    }

#consonants td {
	border-right: 1px dotted red;
	}
#consonants td:last-of-type {
	border-right: 0;
	}
#consonants th {
	font-size: .5em;
	font-weight: normal;
	color: #aaa;
	text-align: center;
	margin:0;
	padding: 0;
	
} 
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Arian Amu WF", "Noto serif Armenian",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



