@font-face {
    font-family: 'Noto Serif Hebrew WF';
    src: url('/shared/webfonts/notoserifhebrew-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notoserifhebrew-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=he] { font-family: 'Noto Serif Hebrew WF', serif; }



#alphabet { 
	display: block; 
	color: #666;
	margin-right: 0px;
	}


span.hint { 
	margin-right: 1px;
    margin-left: 1px;
	font-size: 40%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.4em; 
	font-weight: normal; 
	font-family:  'Arial',  sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */

#controlchars {
    text-align: center;
    margin-bottom: .25em;
    line-height: 1;
    }
.spaceline {
    margin-bottom: 0;
    }
#kbd { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}


#kbd #consonants td { 
	text-align: center;
	}
#kbd #points { 
	margin-left: 20px; 
	margin-right: 20px; 
	}
#kbd #punctuation { 
	margin-left: 20px; 
	}
#kbd #punctuation td { 
	text-align: center;
	}


#rare {
	margin: auto;
	}
#rare td {
	text-align: start;
	line-height: 1;
	}


#alphabet #controlchars {
	padding: 0 10px; text-align:center;
	}
#alphabet #controlchars p {
	margin: 0;
	}

#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1;
    margin-top: .5em;
    }

