@font-face {
    font-family: 'Noto Sans Cherokee WF';
    src: local("Noto Sans Cherokee WF"),
		url('../../shared/webfonts/notosanscherokee-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosanscherokee-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


:lang(chr) { font-family: "Noto Sans Cherokee WF", "Plantagenet Cherokee", serif; } 


#phonelist { display: none; }

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Noto Sans Cherokee WF", "Plantagenet Cherokee",  serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */
#alphabet { 
	display: block; 
	color: #666;
    line-height: 1.2;
	}
#alphabet td { 
	padding: 0;
    width: 2em;
	}
#alphabet table { 
	margin: auto;
    border-collapse: collapse;
	}

span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 70%;
	color:darkorange;
	}
.firstcol {
    font-size: 70%;
    vertical-align: middle;
	color: darkorange;
	}

.c { 
	min-width: 1em;
	text-align: center;
	}

#kbdGrid {
 	display: flex;
 	flex-direction: row;
	flex-wrap: wrap;
	line-height: 1.2;
    justify-content: center;
    }

#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }




#diacritics {
    text-align: center;
    }    

#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }



#shapelist #uppercase, #shapelist #lowercase { 
	width: 90%;
	}
#shapelist #uppercase, #shapelist #lowercase, #shapelist table, #alphabet table { 
	text-align: center;
	margin: auto;
	}




