@font-face {
    font-family: 'Noto Sans Myanmar WF';
    src: url('/shared/webfonts/notosansmyanmar-regularwf.woff2') format('woff2'),
         url('/shared/webfonts/notosansmyanmar-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Tharlon WF';
    src: url('/shared/webfonts/tharlon-regularwf.woff2') format('woff2'),
         url('/shared/webfonts/tharlon-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.1em; 
	font-weight: normal; 
	font-family:  'Noto Sans Myanmar WF',  sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 9em;
    justify-content: space-between;
    }
#translitGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10em;
    margin-left: .75em;
    }
#translitGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 2em;
    justify-content: center;
    margin-left: 0;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2em;
    justify-content: center;
    height: 10em;
    align-content: space-around;
    margin-left: .25em;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-between;
    }
#ivowelGrid div {
    text-align: right;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-between;
    margin-left: 1em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 5em;
    justify-content: space-between;
    }
#virama {
    width: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .5em 0 0;
    justify-content: center;
    align-items: center;
    height: 10em;
    }
#numberGrid div, #numberGridMy div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 5em;
    max-height: 8em;
    justify-content: space-between;
    margin-left: 1.2em;
    line-height: 1.8;
    font-size: 90%;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 14px;
    }
#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }
.spaceline {
    margin-left: 1em;
    }
