@font-face {
    font-family: 'Noto Sans Gunjala Gondi WF';
    src: url('../../shared/webfonts/NotoSansGunjalaGondi-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Narnoor WF';
    src: url('../../shared/webfonts/Narnoor-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=wsg] { font-family: 'Noto Sans Gunjala Gondi WF', serif; }




/* SELECTION AREA */
#kbdGrid {
	line-height: 1.2;
    }


    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Gunjala Gondi WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }


#vowelGrid {
    margin-inline: 0;
    }
#other {
    margin-inline:.75rem;
    }