@font-face {
    font-family: 'Noto Sans NKo WF';
    src: url('/shared/webfonts/notosansnko-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansnko-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang=nqo] { font-family: 'Noto Sans NKo WF', serif; }


#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.1em; 
	font-weight: normal; 
	font-family:  "Noto Sans NKo WF",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#controlchars {
    text-align: center;
    margin-bottom: .25em;
    line-height: 1;
    }


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    margin: 0 .75em;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 7em;
    justify-content: space-between;
    }
#vowelGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 7.5em;
    padding: .25em .3em .25em .2em;
    border: 1px solid #ccc;
    border-radius: .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 3em;
    justify-content: space-between;
    }
#diacritics {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 8em;
    margin: 0 .75em;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    height: 8em;
    margin-left: .5em;
    }
#numberGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 4em;
    justify-content: space-between;
    font-size: 90%;
    line-height: 1.75;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 14px;
    }
#hidden {
    text-align: center;
    font-size: 90%;
    }




/*

#tables {
	margin-left: 25px;
	margin-right: 25px;
	}


#alphabet td span.c, #rare span.c { 
	cursor: pointer; 
	font-family: "Noto Sans NKo WF", "Noto Sans NKo", Ebrima, sans-serif;
	font-size: 24px;
	padding: 1px;
	min-width: 18px;
	}


#alphabet td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	}
	
#kbd { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
	
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.2;
	}
#kbd #consonants {
	margin-left: 20px; 
	margin-right: 20px; 
	}

#kbd #vowels {
	margin-left: 20px;
	border: 1px dotted #ccc;
	border-radius: 5px; 
	}
	
#kbd #ligatures td {
	line-height: 1.35;
	}
#kbd #ligatures {
	border: 1px dotted #ccc;
	border-radius: 5px; 
	}


#kbd #punctuation {
	margin-left: 20px;
	}
#kbd #punctuation td {
	min-width: 30px;
	}


#toggleRare {
	font-size: 12px;
	font-family: 'helvetica neue', roboto, calibri, helvetica, sans-serif;
	}
#rare span.c {
	padding-left: 5px;
	padding-right: 5px;
	}
#rare {
	margin-left: 3em;
	margin-right: 3em;
	}

.key span { 
	font-size: 20px; 
	color: gray; 
	font-weight: normal; 
	font-family:  "Noto Sans NKo WF",  "Ebrima",sans-serif;  
	cursor:pointer; 
	text-align: center; 
	line-height: 1;
	}
.key .s { position:absolute; bottom: 10px; left: 20px; }
.key .n { position:absolute; bottom: 10px; right: 8px;  }



	#alphabet #punc {
	margin-top: 2em;
	}

#kbd #tones {
	margin:0 2em;
	}

#kbd #consonants td, #kbd #vowels td, #kbd #tones td, #kbd #numbers td {
	text-align: center;
	}
#kbd #consonants .c, #kbd #vowles .c, #kbd #tones .c, #kbd #numbers .c  {
	min-width:.7em;
	text-align: center;
	}

#alphabet #controlchars {
	padding: 0 10px; text-align:center;
	}
#alphabet #controlchars p {
	margin: .5em 0;
	}
*/