@font-face { 
	font-family: 'Khmer OS Battambang WF'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('/shared/webfonts/khmerosbbangw.woff'); 
	} 
@font-face { 
	font-family: 'Noto Sans Khmer WF'; 
	font-style: normal; 
	font-weight: normal; 
	src: url('/shared/webfonts/notosanskhmer-regularwebfont.woff2'); 
	src: url('/shared/webfonts/notosanskhmer-regularwebfont.woff'); 
	} 

[lang=km] { font-family: 'Khmer OS Battambang WF', 'Noto Sans Khmer WF', serif; }
.ipa { font-family: 'Doulos Sil', 'Gentium Plus', 'Charis Sil', Gentium, serif; }


#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 0px;
    margin-left: 0px;
	font-size: 65%;
	color: tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}
.g { margin: 0 .1em; }


    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Khmer OS Battambang WF', 'Noto Sans Khmer WF',  serif;  
    line-height: 1.2;
	}

#keyboard { display: none; }






/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 12.5em;
    }
#consonantGrid div {
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    }
#translitGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5em;
    margin-left: .25em;
    line-height: 1.75em;
    }
#translitGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#diacritics {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1.2em;
    margin-left: 0.75em;
    justify-content:flex-start;
    height: 12.5em;
    align-content: center;
    line-height: 1.75em;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    height: 12.5em;
    justify-content: space-around;
    margin-right: 1em;
    border: 1px solid #ccc;
    border-radius: .5em;
    padding: 0 .25em;
    }
#ivowelGrid div {
	justify-content: center;
	flex-wrap: nowrap;
	text-align: center; 
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    height: 12.5em;
    justify-content: space-around;
    padding-right: 0.2em;
    border: 1px solid #ccc;
    border-radius: .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2em;
    justify-content:flex-start;
    height: 12.5em;
    align-content: space-around;
    }
#virama {
    width: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .5em 0 .75em;
    justify-content: center;
    align-items: center;
    height: 10em;
    }
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 5em;
    max-height: 8em;
    justify-content: space-between;
    margin-left: 1.2em;
    line-height: 1.8;
    font-size: 90%;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 14px;
    }
#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }
#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    width: 20em;
    margin: auto;
    }


/* SELECTION AREA */

#kbd { margin: auto; }
#kbd td.fullchar { text-align: right; }
#kbd td.subjoinedchar { text-align: left; }




#shape { padding-left: 5px; padding-right: 5px; margin: 20px; }
#shape li, #shape span, #shape img { border: 0; }
#shape ul { margin:0; padding:0; }
#shape span, #shape img { cursor:pointer; }
/*#shape img.noOnclick { position: relative; z-index: 500; }*/
.hidden { display:none; }
#shapelist { text-align: center; display: none; }
.shapelist { margin-bottom: 10px; }
.shapelist li { 
	position:relative;
	/*border-bottom: 1px solid white;*/
	list-style-type: none;
	display: inline; 
	line-height: 36px;
	/*border: 1px solid #ccc;*/
	}
.shapelist .hidden { 
	position: absolute;
	top: 99%;
	left: -20px;
	width: 500px;
	font-size: 20px;
	line-height: 1.2em;
	text-align: center;
	z-index:1000;

	background-color:white; 
	border: 1px solid #CCC; 
	box-shadow: 7px 7px 5px #888; 
	padding: 5px 5px 5px 5px; 
	border-radius: 10px; 
	}

.shapelist li:hover .hidden { display:block; }
.shapelist li:hover .hidden img { display:inline; }

.shapelist span {  font-family: 'doulos sil', gentiumplus, code2000, serif; font-size:26px; line-height: 1.2em; }
#shape li {  padding-bottom:5px; }

#indvowels {
    display: flex;
    width: 3em;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 .5em;
    line-height: 1.65;
    }
#closediacritics { 
	text-align: right; 
    vertical-align: middle;
	padding: 0 .4em 0 1em;
    width: 1em;;
	}
#vowelsetc {
    border: 1px solid #ccc;
    border-radius: .5em;
}
#vowelsetc div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 .5em;
    line-height: 1.7;
    }

#numbers {
    border: 1px solid #ccc;
    border-radius: .5em;
    }
.rare {
    text-align: center;
    margin: 0 20%;
    }






