@font-face {
    font-family: 'Scheherazade WF';
    src: url('/shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('/shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=ug] { font-family: 'Scheherazade WF', serif; }



span.hint { 
	margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 50%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.4em; 
	font-weight: normal; 
	font-family:  'Scheherazade WF',  sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */

#controlchars {
    text-align: center;
    margin-bottom: .25em;
    line-height: 1;
    }

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
    padding: 0 .25em;
    margin: 0 .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }
#numberGrid {
    height: 4em;
    }
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 90%;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    width: 20em;
    margin: auto;
    }

#cursive {
    width: 4em;
    }


