@font-face {
    font-family: 'Noto Serif Devanagari WF';
    src: url('/shared/webfonts/notoserifdevanagari-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notoserifdevanagari-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=hi] { font-family: 'Noto Serif Devanagari WF', serif; }




span.hint { 
    margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Serif Devanagari WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: 1em;
    }
#ivowelGrid div {
	display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    line-height: 1.5;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    line-height: 1.5;
    align-content: flex-start;
    margin-left: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-left: 1em;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#cchars {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: .5em .5em 0 .5em;
    justify-content: start;
    align-items: center;
    }
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    line-height: 1.5;
    font-size: 90%;
    }
#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#obsolete {
    text-align: center;
    font-size: 90%;
    }

