@font-face {
    font-family: 'Gentium Plus WF';
    src: local("Gentium Plus"),
		url('/shared/webfonts/gentiumplus-r-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}


[lang=ru] { font-family: 'Gentium Plus WF', "Times New Roman", serif; }



span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}


#kbd { display: table; }
    



/* KEYBOARD */
.key { 
	font-weight: normal; 
	font-family:  "Gentium Plus WF", "Times New Roman",  sans-serif;
	}
.key span { 
	font-size: 1.2em; 
    line-height: 1;
	}

#keyboard { display: none; }




/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid, #consonantGridAlpha {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span, #consonantGridAlpha > span {
    min-width: 1em;
    }
#hardsoftGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1em;
    max-height: 15em;
    justify-content: center;
    margin-left: .75em;
    line-height: 1.3;
    }
#vowelGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.2em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.3;
    }
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2.42em;
    max-height: 15em;
    justify-content: center;
    margin-left: 1.2em;
    line-height: 1.3;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#obsolete {
    text-align: center;
    }