@font-face {
    font-family: 'Doulos SIL WF';
    src: url('/shared/webfonts/DoulosSIL-Rwebfont.woff2') format('woff2'),
         url('/shared/webfonts/DoulosSIL-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}





/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Doulos SIL",  serif;  
    line-height: 1;
	}

#keyboard { display: none; }





