@font-face {
    font-family: 'Doulos SIL WF';
    src: url('/shared/webfonts/DoulosSIL-Rwebfont.woff2') format('woff2'),
         url('/shared/webfonts/DoulosSIL-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Junicode WF';
    src: url('/shared/webfonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=ang] { font-family: 'Doulos SIL WF', serif; } 


#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	width: 1em;
	text-align: center;
	}

#grid {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	}
#grid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	}

#grid div.hidden {
	display: none;
	}

#punctuation {
	font-size: 80%;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Doulos SIL WF", "Junicode WF",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }


#punctuation2 {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }



#endings {
	margin-top: 2em;
	text-align:center;
	}
#endings span {
	display: inline-block;
	width: 2em;
	font-size: 120%;
	font-weight: normal;
	}
#caseEndings table {
	margin: auto;
	margin-bottom: 2em;
	}
#caseEndings td {
	min-width: 2em;
	border-radius: 10px;
	border: 1px solid #ccc;
	}
