@font-face {
    font-family: 'Noto Sans Thaana WF';
    src: url('/shared/webfonts/notosansthaana-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansthaana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


*[lang=dv] { font-family: 'Noto Sans Thaana WF', serif; }



#kbd { margin:auto; }
#kbd table {
	margin:0;
	}

span.hint { 
	margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}
.x {
	display: none;
	}
.x .c {
	color: chocolate;
	}



/* KEYBOARD */
.key { 
	font-weight: normal; 
	font-family:  'Noto Sans Thaana WF',  sans-serif;
	}
.key span { 
	font-size: 1.2em; 
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .25em;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: baseline;
    }
#kbd #vowels {
    padding: 0;
    }
#vowelGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .25em;
    padding: .2em .5em;
    line-height: 1.3;
    font-size: 90%;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#numberGrid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2.2em;
    max-height: 15em;
    justify-content: center;
    margin: 0 .5em;
    line-height: 1.3;
    align-content: flex-start;
	font-size: 90%;
    }
#numberGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: 15em;
    justify-content: space-between;
    font-size: 90%;
    width: 100%;
    }
#controlchars {
    text-align: center;
    line-height: 1;
    margin-bottom: .2em;
    }
.touch {
    margin: 0;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }
#punctuation {
    text-align: center;
    font-size: 70%;
    line-height: 1.7;
    margin-top: .5em;
    }

#obsolete {
    text-align: center;
    }




