@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: url('/shared/webfonts/notonastaliqurdu-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notonastaliqurdu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Scheherazade WF';
    src: url('/shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('/shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Awami Nastaliq WF';
    src: url('/shared/webfonts/AwamiNastaliq-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


span.hint { 
	margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

#kbdGrid .b { width: 1em; }

#keyboard { display: none; }

.block {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	}



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    line-height: 2;
    vertical-align: baseline;
    }
#vowelGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 .5em 0 0;
    line-height: 2;
    /*border: 1px solid #ccc;
    border-radius: .3em;*/
    padding: .2em .5em .2em 0;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: 15em;
    justify-content: space-between;
    }
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 15em;
    justify-content: flex-start;
    margin: 0 .2em;
    line-height: 1;
    /*border: 1px solid #ccc;
    border-radius: .3em;*/
    padding: .2em .4em;
    }
#numberGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    max-height: 15em;
    justify-content: space-between;
    }
#alphabet #controlchars {
	display: flex;
    width: 2em;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    align-content: space-between;
    justify-content: center;
	}
#alphabet #controlchars p {
	margin: .1em 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
	}

#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }
#initials {
    text-align: center;
    font-size: 100%;
    line-height: 1;
    }

#punctuation {
    text-align: center;
    font-size: 90%;
    line-height: 1.4;
	margin-bottom: .2em;
    }

#alphabet summary {
    font-size: 14px;
    }
#obsolete {
    text-align: center;
    }
#cursive {
    width: 6em;
    }

#alef {
    display: flex;
    align-self: center;
    width: 1em;
    justify-content: center;
    margin-left: 1em;
}
#alef > span {
	padding: 4em 0;
	width: 1em;
}