@font-face {
    font-family: 'Noto Sans Sundanese WF';
    src: url('/shared/webfonts/notosanssundanese-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanssundanese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Sundanese Unicode 2013 WF';
    src: url('/shared/webfonts/sundaneseunicode-2.0-webfont.woff2') format('woff2'),
         url('/shared/webfonts/sundaneseunicode-2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

#alphabet { display: block; }
#phonelist { display: none; }
#fontgrid { display: none; }


[lang=su] { font-family: 'Sundanese Unicode 2013 WF', 'Noto Sans Sundanese WF', serif; }



#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Javanese WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 5em;
    justify-content: space-between;
    }
#translitGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10em;
    }
#translitGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 2.5em;
    justify-content: center;
    margin-left: 1em;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2em;
    justify-content: center;
    height: 10em;
    align-content: center;
    margin-left: 1em;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    max-height: 10em;
    justify-content: space-between;
    line-height: 1.5;
    }
#ivowelGrid div {
    text-align: right;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    height: 10em;
    justify-content: space-between;
    margin-left: 1em;
    }
#virama {
    width: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .5em 0 .75em;
    justify-content: center;
    align-items: center;
    height: 10em;
    }
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 5em;
    max-height: 8em;
    justify-content: space-between;
    margin-left: 1.2em;
    line-height: 1.8;
    font-size: 90%;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 14px;
    }
#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }









/*
#kbd { 	
	margin: auto; 
	}
table {
	margin:0;
	}
td {
	padding: 0;
	}

#vowels {
	border: 1px dotted #ccc;
	border-radius: 5px; 
	vertical-align: middle;
	}

#numbers {
	border: 1px dotted #ccc;
	border-radius: 5px; 
	vertical-align: middle;
	line-height: 2;
	}

#punctuation {
	padding-left: 15px;
	padding-right: 10px;
	vertical-align: middle;
	line-height: 2.4;
	}
	
#independentvowels {
	margin: 0;
	padding: 0;
	}
#independentvowels td {
	text-align: right;
	}
#otherpunctuation {
	margin:auto;
	}
#otherpunctuation .c {
	line-height: 2.2;
	}
#medialsfinals {
	padding: 0 .75em;
	vertical-align: middle;
	}
#consonants {
	margin-left: 10px; 
	margin: 0;
	}
#consonants td {
	text-align: left;
	}
#consonants2  {
	margin-left: 10px; 
	display: none;
	}
#consonants2 td {
	text-align: left;
	}
#consonants2 td span.c {
	min-width: 2em;
	}
.g {
	display: inline-block;
	}
.c {
	min-width: .75em;
	}
#shift {
	cursor:pointer;
	}
#adegadeg {
	vertical-align:middle;
	}
*/