@font-face {
    font-family: 'Scheherazade WF';
    src: url('../../shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Naskh Arabic WF';
    src: 	local('Noto Naskh Arabic'),
			url('../../shared/webfonts/NotoNaskhArabic-Regular.woff2') format('woff2'),
         	url('../../shared/webfonts/NotoNaskhArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}





span.hint { 
	margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 50%;
	color:tan;
	}
.c { 
	min-width: .5em;
	text-align: center;
	}
span.x {
    color: chocolate;
    }
#kbdGrid .b { width: 1em; }


/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Awami Nastaliq WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }

.block {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
    }
#vowelGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 .5em 0 0;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }



#alphabet #controlchars {
	display: flex;
    width: 2em;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    align-content: space-between;
    justify-content: center;
	}
#alphabet #controlchars p {
	margin: .1em 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
	}
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }
#initials {
    text-align: center;
    font-size: 100%;
    line-height: 1;
    }

#punctuation {
    text-align: center;
    font-size: 90%;
    line-height: 1.4;
	margin-bottom: .2em;
    }

#obsolete {
    text-align: center;
    }

#alef, #hamza {
    display: flex;
	flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: 0 .25em 0 .5em;
	line-height: 2;
	}
#hamza { margin-right: 0; }



#punctuation, #flatnumbers {
    text-align: center;
    line-height: 1.7;
    }

.other {
    text-align: center;
    }


.infrequent {
	margin: auto;
	}

#alphabet summary {
    font-size: 12px;
    text-align: center;
    }

/*
#kbd { margin:auto; }
#kbd table {
	margin:0;
	}

span.hint { 
    margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 50%;
	color:tan;
	}
.c { 
	min-width: .5em;
	text-align: center;
	}



/* KEYBOARD 
.key { 
	font-weight: normal; 
	font-family:  'Noto Naskh Arabic WF',  sans-serif;
	}
.key span { 
	font-size: 1.2em; 
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA 

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ligatureGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 2.5em;
    justify-content: space-between;
    margin-right: 1.5em;
    line-height: 1.3;
    }
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 12em;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1;
    vertical-align: baseline;
    }
#kbd #vowels {
    padding: 0;
    }
#vowelGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .25em;
    line-height: 1.5;
    padding: .2em .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .2em;
    line-height: 1;
    padding: .2em .4em;
    }
#numberGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#alphabet #controlchars {
	display: flex;
    width: 2em;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    align-content: space-between;
    justify-content: center;
	}
#alphabet #controlchars p {
	margin: .1em 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
	}
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }
#initials {
    text-align: center;
    font-size: 100%;
    line-height: 1;
    }

#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1;
	margin: .5em 0 .5em 0;
    }

#obsolete {
    text-align: center;
    }
#cursive {
    width: 6em;
    }

*/
