@font-face {
    font-family: 'Tuladha Jejeg WF';
    src: url('../../shared/webfonts/tuladhajejeg_gr-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/tuladhajejeg_gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Javanese WF';
    src: url('../../shared/webfonts/notosansjavanese-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosansjavanese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=jv] { font-family: 'Noto Sans Javanese WF', 'Tuladha Jejeg WF', serif; }




span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	color: tan;
	}
span.hint { 
  margin-inline-start: .5em;
  margin-inline-end: 1px;
  font-size: 60%;
  color:tan;
  }
.c { 
	min-width: .75em;
	text-align: center;
	}
#subConsonantGrid .c { 
	min-width: 1.25em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Javanese WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.5;
    justify-content: center;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: 1em;
    }
#ivowelGrid div {
	display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    }
#ivowelGrid .verticalAlign {
	justify-content: flex-end;
	}
#consonantGrid, #subConsonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div, #subConsonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelbase {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-left: 1em;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#moreconsonants {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:flex-start;
    text-align: end;
	margin-left: .75em;
    }
#tones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .5em;
    }
#tones div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }

#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }

#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }


