@font-face {
    font-family: 'Noto Sans Sundanese WF';
    src: url('/shared/webfonts/notosanssundanese-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanssundanese-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Sundanese Unicode 2013 WF';
    src: url('/shared/webfonts/sundaneseunicode-2.0-webfont.woff2') format('woff2'),
         url('/shared/webfonts/sundaneseunicode-2.0-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=su] { font-family: 'Sundanese Unicode 2013 WF', 'Noto Sans Sundanese WF', serif; }




span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Javanese WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#translitGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
    }
#translitGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-left: .75em;
	width: 1.5em;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5;
	margin-right: .75em;
    }
#ivowelGrid div {
    text-align: right;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
	padding-top: 1em;
    }
#virama {
    width: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 .5em 0 .75em;
    justify-content: center;
    align-items: center;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }




