@font-face {
    font-family: 'Noto Sans Osage WF';
    src: url('../../shared/webfonts/notosansosage-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosansosage-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang=osa] { font-family: 'Noto Sans Osage WF', 'Noto Sans Osage', serif; }



.g {
    margin: 0 .05em;
	}
span.hint { 
    margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Noto Sans Osage WF", sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#diacriticsGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1em;
    line-height: 1.3;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-left: 1em;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:center;
	}
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2.42em;
    max-height: 15em;
    justify-content: center;
    margin-left: 1.2em;
    line-height: 1.3;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
	margin: .5em 0 .5em 0;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#obsolete {
    text-align: center;
    }








