@font-face {
    font-family: 'Noto Sans Mongolian WF';
    src: url('/shared/webfonts/notosansmongolian-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansmongolian-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

*[lang=mn] { font-family: "Mongolian Universal White", "Noto Sans Mongolian WF", serif; }

span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 70%;
	color:tan;
	}
.c { 
	min-width: .75em;
    min-height: 1em;
	text-align: center;
	}


#kbdGrid {
	display: flex;
	flex-direction: row;
	line-height: 1.2;
	justify-content: center;
	}
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
	line-height: 1.6;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: baseline;
    }
#vowelGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 2em;
    padding: .2em .5em .2em 0;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
	line-height: 1.5;
    }
#mpunct {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 1em;
    padding: .2em .5em .2em 0;
    }
#mpunct div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
	line-height: 1.5;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }







#kbd { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	font-size: 25px;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	min-width: 30px;
	}
/* #kbd td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: right;
	vertical-align: top;
	} 
#kbd td.hint {
	min-width: 5px; 
	}*/
#kbd img {
	vertical-align: top;
	}

form#buttonform { margin: 0; padding: 0; border: 0;  line-height: normal; }
dt { color: #FF6600; }


#consonants td {  padding: 0;  white-space: nowrap; }
#alphabet { padding-left: 5px; padding-right: 5px; }
#consonants td { margin: 0; padding: 0; padding-bottom: 3px; min-width: 2.5em; }
#subscripts td { margin: 0; padding: 0;  padding-bottom: 3px;  }
#subscripts, #consonants { border-collapse:collapse;  }


#variantshapes { 
	width: 120px; 
	border: 1px solid #ccc;
	border-radius: 10px;
	}
#variantshapes div img {
	vertical-align: top;
	}
#variantshapes div.hint {
	font-size: 16px;
	color: #aaa;
	text-align: right;
	vertical-align: middle;
	border-top: 1px solid #ccc; 
	}
#variantshapes td.hint {
	font-size: 16px;
	color: #aaa;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #ccc; 
	}
#variantshapes span.hint {
	color: #B46605;
	padding-right: 2px;
	font-size: 14px;
	display: inline;
	}
#variantshapes .hint {
	}
#variantshapes .glyph {
	text-align: right;
	padding-right: 4px; 
	}
#variantshapes div.top {
	border: 0;
	}
#variantshapes td.top {
	border: 0;
	}
#variantshapes td {
	text-align: center;
	}
#variantshapes table {
	border-collapse: collapse;
	width: 100%;
	}

#kbd #consonants { margin-left: 1em; }
#commonvowels { width: 95px;  border-radius: 10px; vertical-align: middle; }
#kbd #commonvowels { padding-left: .5em; }
#commonvowels img { margin-top: 2px; }
#translitvowels { width: 55px; vertical-align: middle; }
#translitvowels img { margin-top: 4px; }
#kbd #punctuation { text-align: center; padding: 0 20px; vertical-align: middle; }
#spaces { padding: 0 8px; }
#spaces img { margin-top: 1px; }
#consonants img { margin-top: 5px; }
#kbd td.variantImage { text-align: center; }

#numbers {
	
	border-radius: 10px;
	}

#output { /* position: absolute; top:100px; right: 10px; */ 
	padding: 8px;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	height: 400px; 
	width:100%; 
	clear:both;
 }
 
.c, .s, .n { 
	-moz-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	-o-writing-mode: vertical-lr;
	-ms-writing-mode: tb-lr;
	writing-mode: tb-lr;
	-webkit-text-orientation: sideways-right;
 	}
 
#punctuation2 .c { 
	-moz-writing-mode: horizontal-tb;
	-webkit-writing-mode: horizontal-tb;
	writing-mode: horizontal-tb;
 	}
 
#numbers .c { 
	writing-mode: horizontal-tb;
	-webkit-writing-mode: horizontal-tb;
	-ms-writing-mode: tb-lr;
 	}
 







/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Noto Sans Mongolian WF",  "Mongolian Baiti",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



