@font-face {
    font-family: 'Noto Serif Myanmar WF';
    src: url('../../shared/webfonts/notoserifmyanmar-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoserifmyanmar-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Myanmar WF';
    src: url('../../shared/webfonts/notosansmyanmar-regularwf.woff2') format('woff2'),
         url('../../shared/webfonts/notosansmyanmar-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Myanmar3 WF';
    src: url('../../shared/webfonts/mm3-multiwf.woff2') format('woff2'),
         url('../../shared/webfonts/mm3-multiwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Tharlon WF';
    src: url('../../shared/webfonts/tharlon-regularwf.woff2') format('woff2'),
         url('../../shared/webfonts/tharlon-regularwf.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}




span.hint { 
    margin-inline-start: .25em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Serif Myanmar WF';  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    }
#translitGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-inline-start: .5em;
    }
#translitGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 2em;
    justify-content: center;
    align-content: space-around;
    margin-left: .25em;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin-right: 1em;
    }
#ivowelGrid div {
    text-align: right;
    flex-wrap: nowrap;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#virama {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline-start: .5em;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad {
	border: 1px solid tan;
	border-radius: .25em;
	padding: .1em .1em;
	}
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }




