@font-face {
    font-family: 'Noto Sans Bassah Vah WF';
    src: url('/shared/webfonts/notosansbassavah-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosansbassavah-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=bsq] { font-family: 'Noto Sans Bassah Vah WF', serif; }



span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Bassah Vah WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    line-height: 1.5;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
    line-height: 1.5;
    margin-left: 1em;
    }
#vowelGrid div {
    display: flex;
	justify-content: end;
	flex-wrap: nowrap;
    }
#cchars {
	display: flex;
	flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
    flex-direction: column;
    margin: .5em .5em 0 .5em;
    justify-content: start;
    align-items: center;
    }
#numberGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.2em;
    line-height: 1.5;
    font-size: 90%;
    }
#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#obsolete {
    text-align: center;
    font-size: 90%;
    }

