@font-face {
    font-family: 'Junicode WF';
    src: url('/shared/webfonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Doulos SIL WF';
    src: url('/shared/webfonts/DoulosSIL-Rwebfont.woff2') format('woff2'),
         url('/shared/webfonts/DoulosSIL-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=non] { font-family: 'Junicode WF', serif; }




span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}


#other {
	text-align: center;
	font-siz: 80%;
	}
    
/* KEYBOARD */
.key span { 
	font-size: 1.3em; 
	font-weight: normal; 
	font-family:  "Junicode WF",  "Doulos SIL WF", sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



#keyboardSwitch {
    text-align: center;
    }



