@font-face {
    font-family: 'CPAGenizah WF';
    src: url('../../shared/webfonts/cpagenizah-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
/*
The copyright (in OFL license is): Designers : Alain Desreumaux et Alain Hurtig, greetings to George Kiraz, Paul Nelson and Michael Langlois for additional code and design. Credits : Alain Desreumaux and Alain Hurtig for the Syriac letters, George Kiraz and Paul Nelson for the Arabic Numbers. Some symbols, including numerical symbols, are based on the monospaced Courier type design.
*/
@font-face {
    font-family: 'CPADM WF';
    src: url('../../shared/webfonts/cpa-dmscriptfont-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Syriac Estrangela WF';
    src: url('../../shared/webfonts/notosanssyriacestrangela-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosanssyriacestrangela-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
	}


[lang=axp] { font-family: "CPADM WF", serif; font-size: 180%; }




span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 2px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}
span.x {
    color: chocolate;
    }
    
    
/* KEYBOARD */
.key span { 
	font-size: 1.4em; 
	font-weight: normal; 
	font-family:  'CPADM WF',  sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */

#controlchars {
    text-align: center;
    margin-bottom: .25em;
    line-height: 1;
    }
.spaceline {
    margin-bottom: 0;
    }

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.4;
    justify-content: center;
    }
#alaph {
    margin-inline-end: 1em;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
	flex-wrap: nowrap;
    justify-content: space-between;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 .5em;
    flex-wrap: nowrap;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }
#annotations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-inline-start: 1em;
    }
#annotations div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
#diacriticGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    margin-inline-start: 1em;
    }
#diacriticGrid div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    }
#numberGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    height: 4em;
    margin: .5em;
    margin-inline-start: 2rem;
	padding-bottom: 1em;
    }
#numberGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 2.5em;
    justify-content: space-between;
    line-height: 1.2;
    font-size: 90%;
    }
#punctuation {
    text-align: center;
    font-size: 90%;
    line-height: 1;
	margin: .5em 0 .5em 0;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 0;
    }

#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    width: 20em;
    margin: auto;
    }

#cursive {
    width: 5em;
    font-size: 1.2em;
    }

#translit {
    margin: auto;
    
}
