@font-face {
    font-family: 'Noto Sans Tai Viet WF';
    src: url('/shared/webfonts/notosanstaiviet-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notosanstaiviet-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

@font-face {
    font-family: 'Tai Heritage Pro WF';
    src: url('/shared/webfonts/taiheritagepro-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/taiheritagepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=blt] { font-family: 'Noto Sans Tai Viet WF'; }




span.hint { 
	margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: 1em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Noto Sans Tai Viet WF",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }




/* SELECTION AREA */


#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: .75em;
    }
#ivowelGrid div {
    text-align: right;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	flex-wrap: nowrap;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    }
#vowelbase {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: nowrap;
	}
#tones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .5em;
    padding: .25em .1em;
    }
#tones div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#finals {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 2em;
    justify-content:flex-start;
    justify-content: space-around;
    align-content: center;
    margin-left: .5em;
    text-align: right;
    }
#moreconsonants {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: 3em;
    margin-left: 1em;
    text-align: center;
    justify-content: space-between;
    font-size: 90%;
    border: 1px dotted #ccc;
    border-radius: .5em;
    padding: 0 .25em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }
#virama {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 .25em;
    justify-content: center;
    align-items: center;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: 1em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#mahaprana, #rare, #otherpunctuation {
    text-align: center;
    font-size: 90%;
    }
#otherpunctuation {
    font-size: 80%;
    }
#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    margin: auto;
    }

#numberGrid .naitam {
    display: none;
    }


