@font-face {
    font-family: 'Noto Sans Canadian Aboriginal WF';
    src: url('../../shared/webfonts/notosanscanadianaboriginal-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosanscanadianaboriginal-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang=crk] { font-family: 'Noto Sans Canadian Aboriginal WF', "Noto Sans Canadian Aboriginal", serif; }





#alphabet img { 
	cursor: pointer; 
	}
span.hint {
	margin-right: 2px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}


.spaceline {
    margin-top: .55em;
    }

    
#formatCharacters {
    text-align: center;
    line-height: 1;
    }
.selector {
	font-size: 120%;
	min-width: 1.25em;
	display: inline-block;
	}
#prompts {
    text-align: center;
    color: orange;
    }
#prompts span, #prompts img {
    cursor: pointer;
    }

#punctuation {
    line-height: 1;
    text-align: center;
    font-size: 80%;
    }

#extrashapes {
    min-height: 8em;
    line-height: 1.5;
	text-align:center;
	}
#extrashapes span {
	cursor: pointer;
	}


