@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: url('/shared/webfonts/notonastaliqurdu-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notonastaliqurdu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


*[lang=ur] { font-family: 'Noto Nastaliq Urdu WF', serif; }

#alphabet { display: block; margin-right: 20px;  }

#alphabet td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: left;
	text-align: end;
	vertical-align: top;
	}
	
#kbd, #additional, #punctuation { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
	
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: right;
	text-align: start;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}
#kbd #consonants  {
	text-align: start;
	}
#kbd #consonants td  {
	padding: 0 2px;
	}

#kbd #vowels .hint {
	padding-left: 10px; 
	}

#kbd #numbers {
	padding-left: 20px;
	}
#kbd #additional span {
	padding: 0 4px;
	min-width: 20px;
	}



#alphabet #controlchars {
	padding: 0 10px; text-align:center;
	}
#alphabet #controlchars p {
	margin: 0;
	line-height: 1;
	}

.c { 
	min-width: .75em;
	text-align: center;
	}

.touch {
	margin: 0;
	}