@font-face {
    font-family: 'Noto Nastaliq Urdu WF';
    src: url('/shared/webfonts/notonastaliqurdu-regular-webfont.woff2') format('woff2'),
         url('/shared/webfonts/notonastaliqurdu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


*[lang=ur] { font-family: 'Noto Nastaliq Urdu WF', serif; }

/* KEYBOARD */
.key span { 
	font-size: 1.4em; 
	font-weight: normal; 
	font-family:  'Scheherazade WF',  'Arial', sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */

#alphabet { display: block; margin-right: 20px;  }

#alphabet td.hint {  
	font-size: 14px;
	color: #ccc;
	text-align: left;
	text-align: end;
	vertical-align: top;
	}

.spaceline {
    line-height: 1.5em;
    }

#kbd, #additional, #punctuation { 	
	margin: auto; 
	}
#kbd table {
	margin:0;
	}
	
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: right;
	text-align: start;
	cursor:pointer;
	vertical-align: top; 
	line-height: 2;
	}
#kbd #consonants {
    width: 18em;
    padding: 0 .5em;
	}
#kbd #consonants div {
    display: flex;
	justify-content: space-between;
	}
#kbd #consonants td  {
	padding: 0 2px;
	}

#kbd #vowels .hint {
	padding-left: 10px; 
	}

#kbd #numbers {
	padding-left: 20px;
	}
#kbd #additional span {
	padding: 0 4px;
	min-width: 20px;
	}

#punctuation {
    text-align: center;
    font-size: 90%;
    line-height: 1;
    margin-top: .5em;
    margin-bottom: .5em;
    }


#alphabet #controlchars {
	padding: 0 10px; text-align:center;
	}
#alphabet #controlchars p {
	margin: 0;
	line-height: 1;
	}

.c { 
	min-width: .75em;
	text-align: center;
	}

.touch {
	margin: 0;
	}
#shapekeys {
    margin-top: 1.5em;
}


#cursive {
    width: 6em;
    display: inline-block;
    }


