@font-face {
    font-family: 'Junicode WF';
    src: url('/shared/webfonts/Junicode.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'BabelStone Moon Runes WF';
    src: url('/shared/webfonts/babelstonemoonrunes-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'BabelStone Runic Berhtwald WF';
    src: url('/shared/webfonts/babelstonerunicberhtwald-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}



[lang=en] { font-family: 'BabelStone Moon Runes WF', serif; }




span.hint { 
	margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    

/* SELECTION AREA */

#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
	margin-left: 1em;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#moreconsonants {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:flex-start;
    text-align: end;
	margin: 0 .5em;
    }
#tones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .5em;
    }
#tones div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 2em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }

#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }

#obsolete {
    text-align: center;
    font-size: 90%;
    }

