@font-face {
    font-family: 'Noto Sans Vai WF';
    src: url('../../shared/webfonts/notosansvai-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosansvai-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}

[lang=vai] { font-family: 'Noto Sans Vai WF', Noto Sans Vai, serif; }


#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Noto Sans Vai WF", "Noto Sans Vai",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 9em;
    justify-content: space-between;
    line-height: 1.5;
    text-align: right;
    }
#ivowelGrid div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 3.5em;
    justify-content: flex-end;
    }
#virama {
    width: 2em;
    display: flex;
    flex-direction: column;
    margin: 0 .3em 0 .4em;
    justify-content: center;
    align-items: center;
    }
#consonantGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 9em;
    }
#consonantGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 8em;
    justify-content: space-between;
    }
#moreconsonants {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 2em;
    justify-content: flex-start;
    align-content: center;
    height: 9em;
    margin-left: .3em;
   }
#diacritics {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    height: 9em;
    margin-left: .5em;
    line-height: 1.75;
    }
#vowelGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    height: 8em;
    margin-left: .3em;
    padding: .25em .3em .25em .2em;
    border: 1px solid #ccc;
    border-radius: .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 3em;
    justify-content: space-between;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    height: 9em;
    margin-left: .5em;
    }
#numberGrid div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 4em;
    justify-content: space-between;
    font-size: 90%;
    line-height: 1.75;
    }
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 14px;
    }
#hidden {
    text-align: center;
    font-size: 90%;
    }

.selector {
    font-size: 100%;
    }
#part1 table, #part2 table {
    margin: 0 1em;
    }
#part1 table td {
    border: 1px solid #ccc;
    }
#part1 table, #part2 table {
    border-collapse: collapse;
    }
#part1 table td, #part2 table td {
    border: 1px solid #eee;
    }
th {
    padding: 0;
    text-align: center;
    line-height: .8;
    vertical-align: middle;
    }
th .hint {
    font-weight: normal;
    margin: 0;
    padding: 0;
    text-align: center;
    }
#kbdGrid td {
    width: 2em;
    }
