@font-face {
    font-family: 'Noto Sans Bamum WF';
    src: url('../../shared/webfonts/notosansbamum-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notosansbamum-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=bax] { font-family: 'Noto Sans Bamum WF', serif; }



/*
span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 60%;
	color:tan;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	}*/
span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}

.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Sans Bamum WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */

#cchars {
 	display: flex;
 	flex-direction: column;
	flex-wrap: nowrap;
	line-height: 1.2;
    justify-content: center;
	margin-right: 1em;
	}
#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: .5em;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }

#punctuation, #flatnumbers, #other {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#obsolete {
    text-align: center;
    font-size: 90%;
    }

