@font-face {
    font-family: 'Doulos SIL WF';
    src: url('/shared/webfonts/DoulosSIL-Rwebfont.woff2') format('woff2'),
         url('/shared/webfonts/DoulosSIL-R.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



#alphabet { 
	display: block; 
	color: #666;
	}

span.hint { 
	margin-right: 1px;
    margin-left: 2px;
	font-size: 50%;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  "Doulos SIL WF",  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }



/* SELECTION AREA */


#upper, #lower, #tones 	{ margin: auto; }

#kbd { 	
	margin-left: 0; 
	}
#kbd table {
	margin:0;
	}
#kbd td {  
	margin: 0; 
	padding: 0; 
	padding-bottom: 3px; 
	text-align: left;
	cursor:pointer;
	vertical-align: top; 
	line-height: 1.4;
	}

#grid {
	margin: auto;
	}
#alphabet td {
	width: .9em;
	text-align: center;
	}