@font-face {
    font-family: 'Noto Serif Thai WF';
    src: url('../../shared/webfonts/NotoSerifThai-Regularwebfont.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSerifThai-Regularwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


[lang=th] { font-family: 'Noto Serif Thai WF', serif; }




span.hint { 
	margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 60%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}

    
    
/* KEYBOARD */
.key span { 
	font-size: 1.1em; 
	font-weight: normal; 
	font-family:  'Noto Sans Thai WF',  sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	margin-right: 1em;
    }
#ivowelGrid div {
    text-align: right;
    flex-wrap: nowrap;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#vowelbase {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#vowelGrid > div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content:space-between;
	}
#finals {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1.5em;
    justify-content:flex-start;
    align-content: space-around;
    }
#tones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .5em;
    }
#tones div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#symbols div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: 5em;
	}
#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    margin: auto;
    }
