@font-face {
    font-family: 'Scheherazade WF';
    src: url('/shared/webfonts/scheherazaderegotwebfont.woff2') format('woff2'),
         url('/shared/webfonts/scheherazaderegotwebfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Arabic Sans Light WF';
    src: 	url('/shared/webfonts/notosansarabic-light-webfont.woff2') format('woff2'),
         	url('/shared/webfonts/notosansarabic-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Alkalami WF';
    src: url('../../shared/webfonts/Alkalami-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Alkalami Light WF';
    src: url('../../shared/webfonts/Alkalami-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}


*[lang=ar] { font-family: "Noto Naskh Arabic WF", serif; }


#kbd { margin:auto; }
#kbd table {
	margin:0;
	}

.c { 
	min-width: .7em;
	text-align: center;
	margin: 0 .05em;
	}

#cursive {
    width: 6em;
	font-size: 2em;
    }


/* KEYBOARD */
#keyboard { display: none; }



/* SELECTION AREA */

#kbdGrid {
 display: flex;
 flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#ligatureGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 2.5em;
    justify-content: space-between;
    margin-right: 1.5em;
    line-height: 1.3;
    }
#consonantGrid {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.5;
    vertical-align: baseline;
    }
#kbd #vowels {
    padding: 0;
    }
#vowelGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .25em;
    border: 1px solid #ccc;
    border-radius: .3em;
    padding: .2em .5em;
    }
#vowelGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
	line-height: 1.5;
    }
#numberGrid {
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 .2em;
    line-height: 1;
    border: 1px solid #ccc;
    border-radius: .3em;
    padding: .2em .4em;
    }
#numberGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }
#alphabet #controlchars {
	display: flex;
    width: 2em;
    flex-wrap: wrap;
    align-items: stretch;
    text-align: center;
    align-content: space-between;
    justify-content: center;
	}
#alphabet #controlchars p {
	margin: .1em 0;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .8;
	}
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }
#initials {
    text-align: center;
    font-size: 100%;
    line-height: 1;
    }

#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1;
	margin-top: 1em;
    }

#obsolete {
    text-align: center;
    }
#u13 { text-align: center; }
