@font-face {
    font-family: 'Noto Serif Lao WF';
    src: url('../../shared/webfonts/notoseriflao-regular-webfont.woff2') format('woff2'),
         url('../../shared/webfonts/notoseriflao-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}
@font-face {
    font-family: 'Noto Sans Lao WF';
    src: url('../../shared/webfonts/NotoSansLao-Regular.woff2') format('woff2'),
         url('../../shared/webfonts/NotoSansLao-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=lo] { font-family: 'Noto Serif Lao WF', serif; }





span.hint { 
    margin-inline-start: .5em;
	margin-inline-end: 1px;
	font-size: 65%;
	color:tan;
	}
.c { 
	min-width: .75em;
	text-align: center;
	}

.v { 
	min-width: .75em;
	text-align: center;
    cursor: pointer;
	}
    
    
/* KEYBOARD */
.key span { 
	font-size: 1.1em; 
	font-weight: normal; 
	font-family:  'Noto Serif Lao WF',  sans-serif;  
    line-height: 1;
	}
.key {padding: 4px 0 0 0; }
#keyboard { display: none; }



/* SELECTION AREA */


#kbdGrid {
 	display: flex;
 	flex-direction: row;
	line-height: 1.2;
    justify-content: center;
    }
#consonantGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
#consonantGrid div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: start;
    }
#toneGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-inline: .25em;
    }
#toneGrid div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 1.5em;
    justify-content: center;
    margin-left: 0;
    }
#consonantGrid > span {
    min-width: 1em;
    }
#finals {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content:space-around;
    align-content: space-around;
    margin-inline-end: .25em;
    }
#finals div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content:flex-end;
    align-content: flex-end;
    }
#ivowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 1em;
    }
#ivowelGrid div {
    text-align: right;
    flex-wrap: nowrap;
    }
#vowelGrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-inline-start: 1em;
    }
#vowelGrid > div {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    justify-content: flex-end;
    }
#vowelbase {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
#numberGrid {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    font-size: 90%;
	margin-left: 1em;
    }
#digitKeypad div {
    white-space: normal;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    }

#punctuation {
    text-align: center;
    font-size: 80%;
    line-height: 1.7;
    margin-top: .5em;
    }
#spaceEtc {
    text-align: center;
    vertical-align: middle;
	margin-bottom: 1em;
    }

#alphabet summary {
    font-size: 14px;
    }
#vowelclusters {
    text-align: center;
    line-height: 1.7;
    margin-top: .5em;
    margin: auto;
    }

#vowelsupport {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-right: .5em;
	width: 2em;
}
