@font-face {
    font-family: 'Noto Serif Ahom WF';
    src: url('../../shared/webfonts/notoserifahom-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
	}



[lang=aho] { font-family: 'Noto Serif Ahom WF'; }

span.q .c {
    color: tan;
    }
span.x {
    display: none;
    }


    
/* KEYBOARD */
.key span { 
	font-size: 1.2em; 
	font-weight: normal; 
	font-family:  'Noto Serif Ahom WF',  sans-serif;  
    line-height: 1;
	}

#keyboard { display: none; }




